application/public/uploads

!application/public/uploads/mapbender_user
!application/public/uploads/mapbender_user_basic
*/config/parameters.yaml
*/vendor
*.tar.gz
*.rpm
*.deb
local.properties
/nbproject/private/
testresults

# IDEA Project Files
.idea/

# Composer asset components
application/public/components/

application/mapbender

# Distribution files
dist

.phpunit.result.cache
