application/public/uploads

!application/public/uploads/mapbender_user
!application/public/uploads/mapbender_user_basic
*/config/parameters.yaml
*/vendor
*.tar.gz
*.rpm
*.deb
local.properties
/nbproject/private/
testresults

# IDEA Project Files
.idea/

# Composer asset components
application/public/components/

application/mapbender

# Distribution files
dist

.phpunit.result.cache

# Melange / Apko build artifacts
docker/apko/melange.rsa
docker/apko/melange.rsa.pub
docker/apko/packages/
docker/apko/mapbender-wolfi.tar
docker/apko/mapbender-slim-wolfi.tar
docker/apko/mapbender-puppeteer-wolfi.tar
docker/apko/sbom-*.spdx.json

# Distroless build files
docker/distroless-fs/
sbom-index.spdx.json
sbom-x86_64.spdx.json
