/var/cache
/var/logs
/var/sessions
/var/tmp

/web/bundles
/web/doc/*
/web/uploads
/web/uploads

web/xmlschemas/*
!web/xmlschemas/http___www_opengis_net*
!web/xmlschemas/http___www_w3_org*
!web/xmlschemas/WMT_MS_Capabilities_http___www_opengis_net*

!*/web/uploads/mapbender_user
!*/web/uploads/mapbender_user_basic
/web/assets/*.trans
web/assets/.dev-cache
extra/
/app/config/parameters.yml
app/bootstrap.php.cache
vendor
*.tar.gz
*.rpm
*.deb
local.properties
/nbproject/private/
testresults
bin/*
!bin/sassc
!bin/sassc.exe

# IDEA Project Files
.idea/

