@import url("components/ol-cesium/ol.css");

.mb-element-ol-cesium-map {
  > .ol-map {
    float: left;
    width: 100%;
    height: 100%;
    > .ol-viewport {
    }
  }

  > .cesium-map {
    float: left;
    position: relative;
  }

  > .button-navigation {

    display: block;
    position: absolute;

    width: 200px;

    right: 20px;
    bottom: 50px;

    padding: 10px;
    border: 1px solid #c0c0c0;

    .button {
      width: 100%;
    }

  }
}