<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
    bootstrap="bootstrap.test.php">

    <testsuites>
        <testsuite name="Project">
            <directory>../src/*/*Bundle/Tests</directory>
        </testsuite>
        <testsuite name="Mapbender">
            <directory>../owsproxy/</directory>
            <directory>../mapbender/</directory>
            <directory>../fom/</directory>
        </testsuite>
    </testsuites>

    <php>
        <const name="TEST_WEB_SERVER_HOST" value="127.0.0.1"/>
        <const name="TEST_WEB_SERVER_PORT" value="8000"/>
        <const name="TEST_SCREENSHOT_PATH" value="../testresults/screenshot"/>
    </php>


</phpunit>
